game/[Ll]ibrary/
game/[Tt]emp/
game/[Oo]bj/
game/[Ll]ogs/
game/[Uu]ser[Ss]ettings/
game/[Bb]uild*/
game/.vs/
game/*.csproj
game/*.sln
game/*.slnx
game/.vscode/
artifacts/
**/bin/
**/obj/
*.user
.DS_Store
game/Assets/Temp/
game/Assets/Temp.meta
